* {
    margin: 0;
    
}
/* #1 */
section,
header,
footer,
nav,
main {
    display: block;
}
/* #2 */
body {
    color:rgb(253, 253, 243);
    background: url("../assets/images/dark-wood5.jpg");
    font-family: Tahoma, Verdana, Helvetica,  Arial, sans-serif;
}
/* #3 */
div.container{
    width: 950px;
    margin: 5px auto;
    text-align: center;
    background-color: rgba(12, 8, 12, 0.7);
}
/* #4 */
[class="content"] {
    text-align: justify;
    line-height: 1.4em;
    padding: 10px;
}
/* #5 */
header, nav, footer {
    background: hsla(25, 42%, 79%, 0.4);
    color: rgb(250, 219, 180);
}
/* #6 */
nav ul {
    margin: 0;
    padding: 5px;
    list-style-type: none;
}
/* #7 */
nav li {
    display: inline;
    margin-right: 40px;
    text-transform: uppercase;
    font-weight: bold;
}
/* #8 */
nav a:link {
    color: rgb(198, 245, 245);
}
nav a:visited {
    color: rgb(250, 228, 185);
}
nav a:hover {
    color: rgb(245, 157, 186);
}
nav a:active {
    color: rgb(13, 155, 8);
}
/* #9 */
a {
    color:rgb(214, 214, 136);
    text-decoration: none;
}
/* #10 */
h1,h2,h3 {
    margin: 10px;
    text-transform: uppercase;
    color:rgb(177, 199, 99)
}
/* #11 */
.img-centre {
    display: block;
    margin: 5px auto;
    padding: 2px;
}
/* #12 */
video {
    display: block;
    margin: 10px auto;
}
/* #13 */
table {
    width: 800px;
    margin: 10px auto 10px auto;
    border-collapse: collapse;
    text-align: center;
}
/* #14 */
th, td {
    border: 1px solid rgb(41, 41, 31);
    padding: 2px 5px;
    background: hsla(50, 27%, 57%, 0.432);
    color:rgb(245, 239, 213)
}
/* #15 */
table th, tfoot td {
    text-transform: uppercase;
    background: hsla(25, 15%, 84%, 0.678);
    color:rgb(41, 22, 39)
}
/* #16 */
dt {
    font-weight: bold;
    color: rgb(174, 221, 243);
}
/* #17 */
footer {
    padding: 1px 0;
    font-size: 80%;
    letter-spacing: 2px;
    text-align: center;
}
/* #18 */
iframe {
    display: block;
    margin: 10px auto;
}
/* #19 */
fieldset {
    width: 500px;
    margin: 20px auto;
    border: 1px solid rgb(235, 235, 209);
    background: hsla(25, 15%, 84%, 0.315);
}
/* #20 */
legend {
    font-style: italic;
    color:rgba(78, 61, 12, 0.94);
    background: rgba(236, 210, 138, 0.959);
    margin: 0 10px;
    padding: 0 5px;
    border-radius: 10px;
}
/* #21 */
input[type="submit"] {
    border: 1px solid rgba(73, 54, 54, 0.918);
    padding: 5px;
    color:rgba(37, 29, 5, 0.94);
    background: rgba(236, 210, 138, 0.959);
}
/* #22 */
input[type="submit"]:hover {
    color:rgba(225, 219, 233, 0.94);
    background: rgba(56, 48, 27, 0.959);
    cursor: pointer;
}
